body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
padding-top: 24px;
padding-bottom: 24px;
padding-left:0;
padding-right:0;
}

img {
    height: 200px;
}

nav {
 border-bottom: 1px solid rgb(250, 245, 245);
 padding: 16 px;
 color: antiquewhite;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.grid-child {
    color: rgb(12, 64, 47);

}

.header{
    background-color: #FF5A33;
    border-bottom: 1px solid #146152;
    padding: 16px;
    color: rgb(245, 241, 241);
    
}

a {
    text-decoration: none;
}

.block {
    display: block;
}

footer {
    background-color: #2dc747;
    border-bottom: 1px solid #146152;
    padding: 16px;
    color: rgb(250, 248, 248);
}

h1 {
    color: teal;
}

.ingredients-table tr:nth-child(even) {
    background-color: lightgray;
}